.note__wrap
    .note__top
        p.note__title!= "Заголовок"
        p.note__date!= "04.10.16"
        i.note__active

    .note__middle
        p.note__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. exercitation ullamco laboris nisi ut ...

    .note__bottom.clearfix
        span.note__bottom-text!= 'Поделится: '
        span.note__bottom-soc!= '<span class="note__bottom-soc-icon"></span> Сообщество'

        a(href="javascript:void(0);", class="btn-note-bottom btn-note-delete")


.note__wrap
    .note__top
        p.note__title!= "Заголовок"
        p.note__date!= "04.10.16"
        i.note__active

    .note__middle
        p.note__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. exercitation ullamco laboris nisi ut ...

    .note__bottom.clearfix
        span.note__bottom-text!= 'Поделится: '
        span.note__bottom-soc!= '<span class="note__bottom-soc-icon"></span> Сообщество'

        a(href="javascript:void(0);", class="btn-note-bottom btn-note-delete")

.note__wrap
    .note__top
        p.note__title!= "Заголовок"
        p.note__date!= "04.10.16"
        i.note__active

    .note__middle
        p.note__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. exercitation ullamco laboris nisi ut ...

    .note__bottom.clearfix
        span.note__bottom-text!= 'Поделится: '
        span.note__bottom-soc!= '<span class="note__bottom-soc-icon"></span> Сообщество'

        a(href="javascript:void(0);", class="btn-note-bottom btn-note-delete")